[Desktop Entry]
Version=1.0
Name=Brave Web Browser
GenericName=Web Browser
Exec=hypr-native-app --new browser %U
Terminal=false
Type=Application
Icon=brave-browser
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
