[Desktop Entry]
Version=1.0
Name=Slack (Web)
Comment=Open Slack as a Brave web application
Exec=brave --class=slack --app=https://app.slack.com/client/
Terminal=false
Type=Application
Icon=slack
Categories=Network;InstantMessaging;
StartupWMClass=slack
