configuration {
    modes: "drun,calc,window,ssh";
    show-icons: true;
    terminal: "alacritty";
    drun-command: "uwsm app -- {cmd}";
    ssh-command: "{terminal} {ssh-client} {host}";
    sidebar-mode: true;
    window-format: "{t}    {c}   {w}";
    kb-mode-next: "Shift+Right,Tab";
    kb-mode-previous: "Shift+Left,ISO_Left_Tab";
    kb-element-next: "Control+Tab";
    kb-element-prev: "Control+ISO_Left_Tab";

    timeout {
        action: "kb-cancel";
        delay: 0;
    }

    filebrowser {
        directories-first: true;
        sorting-method: "name";
    }
}

@import "/usr/share/rofi/themes/Arc-Dark.rasi"
